$color-black: #000;
$color-white: #fff;

$color-transparent: rgba(0,0,0,0);
$color-black-transparent: rgba(0,0,0,.05);
$color-blue-transparent: rgba(0,45,98,.25);

$color-blue: #002D62;
$color-cta-blue: #099;
$color-orange: #F8991C;

$color-peach: #f2f0d9;
