.subHeadings
  p
    font-size: 13px
  .subContainer
    margin: 15px 0
  .subSubHeading
    border-radius: 5px
    color: $white
    background-color: $color-orange
    padding: 5px 15px 0px 15px
    margin-bottom: 3px

.imageHolder
  margin-bottom: -25px
