<div class="column subHeadings">
   {{#each this.Subheadings}}
   <div class="column medium-6">
      <div class="row subContainer">
         <div class="column small-12 medium-10 medium-offset-2 imageHolder">
            <img src="http://lorempixel.com/300/200" alt="PTO">
         </div>
         <div class="column small-12 medium-6 medium-offset-4">
            <div class="row subSubHeading">
               <h3>{{this.heading}}</h3>
            </div>
            <div class="row">
               <p>{{this.fpo}}</p>
            </div>
         </div>
      </div>
   </div>
   {{/each}}
</div>
